name: mobimart

services:
  dev:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    ports:
      - 8080:8080
    command: sleep infinity
    volumes:
      - ./:/mobimart/app


  